.popup__close-button_place_image{
    align-self: flex-end;
    position: relative;
    left: 37px;
    margin: 0;  
}

@media screen and (max-width:320px){
    .popup__close-button_place_image{
        height: 25px;
    }
}